*{
  font-family: 'Poppins', sans-serif;
}

.login{
  height: 100vh;
}

.header h1{

  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  /* indentical to box height */

  color: black;
}

.header p{

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* indentical to box height */

  color: black;
}